.rotateBox {
    display: flex;
    width: 80%;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.pagesBox {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.footer {
    display: flex;
    justify-content: center;
}

.pagesDoc {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.docLoading{
    visibility: hidden;
}